$primary: #de396b;
$green: #4b5c1c;
$brown: #90673e;
$violet: #8e5e9c;
$maroon: #82261c;
$navy: #293141;
$gray: #737373;
$theme-colors: ( //  "primary": $primary,
//  "secondary": $secondary,
//  "success": $success,
//  "info": $info,
//  "warning": $warning,
//  "danger": $danger,
//  "light": $light,
//  "dark": $dark
);
$pegg: #0094ff;
$stroke-width: 2px;