$primary: #de396b;
$green: #4b5c1c;
$brown: #90673e;
$violet: #8e5e9c;
$maroon: #82261c;
$navy: #293141;
$gray: #737373;
$wheat: #ede285;
//
$pegg: #0094ff;
$zyplos: #ff3e3e;
$buggy: #ffde00;
$stroke-width: 2px;